@tailwind base;
@tailwind components;
@tailwind utilities;
.customHeight {
  height: calc(100vh - 5.9rem);
}
@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
  }
}
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: #005656;
  outline: 1px solid #f0f7f7;
  border-radius: 40px;
}

.noscrollBar::-webkit-scrollbar {
  display: none;
}

.noscrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
